<div class="container cart min-height-500">
    <form name="cartForm" novalidate>
        <div class="col-md-12">
            <div class="title cl-brown">
                <!--<div class="col-md-12">-->
                    <!--<h3 translate="RESTAURANT_TYPE.Restaurant" class="inline"></h3><h3 class="inline">: </h3>-->
                    <!--<a href="" ui-sref="main.restaurant_detail({restaurantId: vm.restaurantId})"><strong class="meal-strong inline">{{ vm.orderDetail[0].menu_list.data.restaurant_name }}</strong></a>-->
                <!--</div>-->
                <div class="col-md-6">
                    <h3> <span translate="CLIENT.ORDER DETAILS"></span>:
                        <a href="" ui-sref="main.restaurant_detail({restaurantId: vm.restaurantId})">
                            <strong class="meal-strong inline">{{ vm.orderDetail[0].menu_list.data.restaurant_name }}</strong></a></h3>
                </div>
                <div class="col-md-3" ng-if="!vm.loading && !vm.isOrderDetailEmpty">
                    <div class="btn btn-group pull-right">
                        <button class="btn bg-orange" translate="RESTAURANT_DETAIL.CANCEL" ng-click="vm.deleteOrderFromCart(vm.order)"></button>
                        <button type="submit" class="btn btn-danger" translate="CLIENT.SAVE CHANGES" ng-click="vm.saveChanges(cartForm.$valid, false)"></button>
                    </div>
                </div>

            </div>
            <hr>
            <br>
            <div class="container-fluid" ng-if="vm.loading">
                <div class="col-md-12 text-center v-center-lg">
                    <img src="assets/images/loading.gif" alt="loading">
                </div>
            </div>
            <div class="alert alert-success fade in" ng-show = "vm.orderSuccess && !vm.loading">
                <a href="" class="close" ng-click="vm.closeAlert('success')" aria-label="close">&times;</a>
                <strong translate="CLIENT.SUCCESS"></strong> <span translate="{{ vm.orderSuccess }}"></span>
            </div>
            <div class="alert alert-danger fade in" ng-show = "vm.orderError && !vm.loading">
                <a href="" class="close" ng-click="vm.closeAlert('error')" aria-label="close">&times;</a>
                <strong translate="CLIENT.ERROR"> </strong> <span translate="{{vm.orderError}}"></span>
                <ul ng-if="vm.wrongServing">
                    <li ng-repeat="item in vm.wrongServing">
                        <span >{{ item.name }}</span>
                        <span ng-if="item.book_to">
                           (<span translate="CLIENT.BOOK TO ERROR"></span>
                            {{ item.book_to.day }} <span ng-if="item.book_to.day" translate="DATE_PICKER.DAYS"></span> <span ng-if="item.book_to.hour && item.book_to.day" translate="CLIENT.AND"></span>
                            {{ item.book_to.hour }}
                            <span ng-if="item.book_to.hour"><span translate="DATE_PICKER.HOURS"></span> <span ng-if="item.book_to.hour && item.book_to.minute" translate="CLIENT.AND"></span> </span>
                            {{ item.book_to.minute }}
                            <span ng-if="item.book_to.minute" translate="DATE_PICKER.MINUTES"></span> <span translate="CLIENT.IN ADVANCE"></span>)
                        </span>
                        <span ng-if ="item.book_from" translate="CLIENT.BOOK FROM ERROR" translate-values = "{ n: item.book_from}">

                        </span>
                        <span ng-if="!item.book_to && !item.book_from">
                            <span ng-if="item.type == 'menuOfTheDay'">
                                ({{ item.label | translate }} {{ item.day | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }} {{ item.serve.from }} {{ 'RESTAURANT_DETAIL.UNTIL' | translate }} {{ item.serve.to }})
                            </span>
                            <span ng-if="item.type == 'opening_hour'" ng-click="item.collapsed = !item.collapsed" translate="CLIENT.OPENING HOUR ERROR"></span><br>
                            <a href="" ng-if="item.type == 'scheduled' || item.type == 'opening_hour'" ng-click="item.collapsed = !item.collapsed" translate="RESTAURANT_DETAIL.RESTAURANT OPENING HRS"></a>
                            <ul ng-if="item.type == 'scheduled' || item.type == 'opening_hour'" uib-collapse="item.collapsed">
                                <li ng-repeat="opening in item.serve">{{opening.day | translate}} - {{ opening.from }} to {{ opening.to }} <span ng-if="opening.afrom"> and {{opening.afrom }} to {{ opening.ato }}</span></li>
                            </ul>

                        </span>
                        <span ng-if="item.side_dish" translate="CLIENT.SIDE DISH ERROR">

                        </span>
                    </li>
                </ul>
            </div>
            <div class="alert alert-danger fade in" ng-if = "cartForm.$invalid && cartForm.$submitted && !vm.orderSuccess">
                <strong translate="CLIENT.ERROR"> </strong> <span translate="CLIENT.YOU HAVE ERRORS"></span>
                <ul>
                    <li ng-if="cartForm.number_of_persons.$invalid && cartForm.$submitted" translate="CLIENT.PERSONS EMPTY"></li>
                </ul>
            </div>

            <div class="error col-md-9" ng-if="vm.isOrderDetailEmpty && !vm.loading">
                <div class="error cl-brown">
                    <strong translate="CLIENT.NO ORDERS"></strong>
                    <a href="" ui-sref="main.restaurant_detail({restaurantId: vm.restaurantId})" translate="CLIENT.ORDER MEALS"></a>
                </div>
            </div>

                <div class="col-md-9 cart-meals-list" ng-if="!vm.isOrderDetailEmpty && !vm.loading">
                    <div class="container-fluid">
                        <label for="order-comment" translate="CLIENT.ORDER COMMENT"></label>
                        <textarea name="comment" id="order-comment" rows="3"
                                  placeholder="{{'CLIENT.ORDER COMMENT PLACEHOLDER' | translate }}"
                                  class="form-control" ng-model="vm.order.comment"></textarea>
                    </div>
                    <hr>
                    <div class="container-fluid meal" ng-repeat="order in vm.orderDetail track by $index">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="restaurant-name">
                                    <small ng-if="order.serve_at_readable.type == 'everyday'">
                                        {{ order.serve_at_readable.data | translate }}
                                    </small>
                                    <small ng-if="order.serve_at_readable.type == 'everyday_with_time'">
                                        {{ order.serve_at_readable.data | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }} {{ order.serve_at_readable.from }} {{ 'RESTAURANT_DETAIL.UNTIL' | translate }}
                                        {{ order.serve_at_readable.to }}</small>
                                    <small ng-if="order.serve_at_readable.type == 'day_with_no_time'">
                                        {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day | translate }}
                                    </small>
                                    <small ng-if="order.serve_at_readable.type == 'day_with_time'">
                                        {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }} {{ order.serve_at_readable.from }}
                                        {{ 'RESTAURANT_DETAIL.UNTIL' | translate }}
                                        {{ order.serve_at_readable.to }}
                                    </small>
                                    <small ng-if="order.serve_at_readable.type == 'menu_schedule'">
                                        {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day_from | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }}
                                        {{ order.serve_at_readable.time_from}}
                                        {{ 'RESTAURANT_DETAIL.UNTIL' | translate }} {{ order.serve_at_readable.day_to | translate}} {{ order.serve_at_readable.time_to }}
                                    </small>
                                    <a href="" class="pull-right cancel-order" title="{{'CLIENT.CANCEL ORDER' | translate }}" ng-click="vm.deleteOrderDetail(order)"><span class="fa fa-close cl-brown" ></span></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="col-md-2 bg-brown meal-picture">
                                        <img ng-src="{{ order.photo }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-md-5 meal-detail">
                                        <div class="meal-name">
                                            <div class="meal-name">
                                                <strong ><a href="" class="cl-brown">{{ order.menu_list.data.name }}</a></strong>
                                            </div>
                                            <div class="description">
                                                <p ng-text-truncate="order.menu_list.data.comment"
                                                   ng-tt-chars-threshold="50"></p>
                                            </div>
                                            <div class="group-members" ng-if="vm.friends.length > 0">
                                                <label translate="CLIENT.SELECT FRIEND"></label>
                                                <select name="friend" class="" ng-model="order.ID_client" convert-to-number>
                                                    <option value="{{ vm.order.ID_client }}"><span translate="CLIENT.NONE"></span></option>
                                                    <option ng-repeat="friend in vm.friends" value="{{friend.ID_grouped_client}}" >{{ friend.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="checkbox" ng-if="vm.orderDetail.length > 1">
                                            <label>
                                                <input type="checkbox" ng-model="order.side_dish_bool" ng-change="vm.changeSideDish(order)"> <span translate="CLIENT.SIDE DISH TO"></span>
                                            </label>
                                        </div>

                                        <div class="col-md-12 z-index-100" ng-if="vm.orderDetail.length > 1 && order.side_dish_bool" >
                                            <label translate="CLIENT.SELECT MAIN DISH"></label>
                                            <select class="form-control" name="sideDish{{order.ID_orders_detail}}" id="" ng-model="order.side_dish" ng-change="vm.changeSideDishFromSelect(order)" ng-disabled="!order.side_dish_bool">
                                                <option ng-repeat="sideOrderDetails in vm.orderDetail"
                                                        ng-if="(order.ID_orders_detail != sideOrderDetails.ID_orders_detail) && sideOrderDetails.side_dish == '0' && (order.x_number == sideOrderDetails.x_number)"
                                                        value="{{sideOrderDetails.ID_orders_detail}}">{{sideOrderDetails.menu_list.data.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="container-fluid">
                                            <div class="col-md-6">
                                                <div class="meal-quantity">
                                                    <label for="quantity" class="qty col-md-2" translate="CLIENT.QUANTITY"></label>
                                                    <input id="quantity" type="number" class="qty" ng-change="vm.changePrice(order)" ng-model="order.x_number" min="0">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="meal-price pull-right row">
                                                    <strong>{{ order.t_price }} {{ order.menu_list.data.currency }}</strong>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="container-fluid">
                                            <div class="serve_at col-md-12">
                                                <div class="form-group" ng-class="{ 'has-error': (cartForm['date_picker' + $index].$touched || cartForm.$submitted) && cartForm['date_picker' + $index].$invalid  }">
                                                    <label class="control-label" translate="CLIENT.SERVE AT"></label>
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" ng-model="order.serve_at" required
                                                               is-open="order.date_picker"datepicker-options="vm.date_picker.datepickerOptions" name="date_picker{{$index}}"
                                                               datepicker-append-to-body="false" />
                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, $index)"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                    </p>
                                                    <div class="form_error" ng-messages="cartForm['date_picker' + $index].$error"
                                                         ng-if="cartForm['date_picker' + $index].$touched || cartForm.$submitted"
                                                         role="alert">
                                                        <p ng-message="required" translate="HOME.DATE EMPTY"></p>
                                                        <p ng-message="datetime" translate="HOME.INVALID DATE"></p>
                                                    </div>
                                                </div>
                                                <small ng-if="order.serve_at_readable.type == 'everyday'">
                                                    {{ order.serve_at_readable.data | translate }}
                                                </small>
                                                <small ng-if="order.serve_at_readable.type == 'everyday_with_time'">
                                                    {{ order.serve_at_readable.data | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }} {{ order.serve_at_readable.from }} {{ 'RESTAURANT_DETAIL.UNTIL' | translate }}
                                                        {{ order.serve_at_readable.to }}</small>
                                                <small ng-if="order.serve_at_readable.type == 'day_with_no_time'">
                                                    {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day | translate }}
                                                </small>
                                                <small ng-if="order.serve_at_readable.type == 'day_with_time'">
                                                    {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }} {{ order.serve_at_readable.from }}
                                                    {{ 'RESTAURANT_DETAIL.UNTIL' | translate }}
                                                    {{ order.serve_at_readable.to }}
                                                </small>
                                                <small ng-if="order.serve_at_readable.type == 'menu_schedule'">
                                                    {{ order.serve_at_readable.data | translate }} {{ order.serve_at_readable.day_from | translate }} {{ 'RESTAURANT_DETAIL.FROM' | translate }}
                                                    {{ order.serve_at_readable.time_from}}
                                                    {{ 'RESTAURANT_DETAIL.UNTIL' | translate }} {{ order.serve_at_readable.day_to | translate}} {{ order.serve_at_readable.time_to }}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="container-fluid add-notes">
                                    <a href="" ng-click="order.visible = !order.visible" title="{{ 'CLIENT.CLICK TO ADD DETAIL' | translate }}">
                                        <span class="fa " ng-class="{'fa-chevron-right': order.visible, 'fa-chevron-down': !order.visible}"></span>
                                        <strong translate="CLIENT.ADD DETAIL"></strong>
                                    </a>
                                </div>

                                <div class="container-fluid" uib-collapse="order.visible">
                                    <div class="details ">

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-change="vm.changePrice(order)" ng-model="order.is_child" > <span translate="CLIENT.CHILD"></span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="note" translate="CLIENT.ADD NOTE"></label>
                                            <textarea name="note" id="note" rows="3" class="form-control" ng-model="order.comment"></textarea>
                                        </div>
                                        <hr>
                                        <div class="pull-right">
                                            <a href="" ng-click="order.visible = !order.visible" translate="CLIENT.HIDE DETAIL"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': (cartForm.number_of_persons.$touched || cartForm.$submitted) && cartForm.number_of_persons.$invalid }">
                            <label class="control-label" translate="CLIENT.PERSONS"></label>
                            <input ng-required="true" type="number" class="form-control" ng-model="vm.order.persons" name="number_of_persons" min="1" >
                            <div class="form_error" ng-messages="cartForm.number_of_persons.$error"
                                 ng-if="cartForm.number_of_persons.$touched || cartForm.$submitted"
                                 role="alert">
                                <p ng-message="required" translate="CLIENT.PERSONS EMPTY"></p>
                                <p ng-message="min" translate="CLIENT.MINIMUM IS 1"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 " ng-if="!vm.loading && !vm.isOrderDetailEmpty">
                        <div class="total bg-white">
                            <div class="title pull-right container-fluid">
                                <h3 class="cart-summary cl-brown" translate="CLIENT.ORDER SUMMARY"></h3>
                            </div>
                            <div class="clearfix"></div>
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <div class="container-fluid total-price">
                                        <div class="pull-right bg-white">
                                            <strong><span translate="CLIENT.TOTAL"></span>: {{ vm.totalPrice }} {{ vm.orderDetail[0].menu_list.data.currency}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="container-fluid summary-actions">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-lg bg-gray btn-block no_border_radius" ng-click="vm.saveChanges(cartForm.$valid, true)" translate="CLIENT.CONT ADDING"></button>
                                    <button type="submit" class="btn btn-lg bg-gastro btn-block no_border_radius" ng-click="vm.placeOrder(cartForm.$valid)" translate="CLIENT.ORDER NOW"></button>
                                    <br>
                                    <p class="cl-brown text-center" ng-if="vm.wrongServing" translate="CLIENT.ERRORS AT THE TOP"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-if="!vm.loading && !vm.isOrderDetailEmpty">
                    <div class="panel panel-default aside">
                        <div class="panel-heading">
                            <strong class="cart-summary" translate="CLIENT.ORDER SUMMARY"></strong>
                        </div>
                        <div class="panel-body">
                            <div class="">
                                <div class="container-fluid">
                                    <div class="container-fluid total-price">
                                        <div class="bg-white pull-right">
                                            <strong><span translate="CLIENT.TOTAL"></span>: {{ vm.totalPrice }} {{ vm.orderDetail[0].menu_list.data.currency}}</strong>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="container-fluid summary-actions">
                                    <button type="submit" class="btn bg-gray btn-block no_border_radius" ng-click="vm.saveChanges(cartForm.$valid, true)" translate="CLIENT.CONT ADDING"></button>
                                    <button type="submit" class="btn bg-gastro btn-block no_border_radius" ng-click="vm.placeOrder(cartForm.$valid)" translate="CLIENT.ORDER NOW"></button>
                                    <br>
                                    <p class="cl-brown text-center" ng-if="vm.wrongServing" translate="CLIENT.ERRORS AT THE TOP"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </form>
</div>